.about-page_introduction {
    background-image: url("../../public/travel-buddies.jpg");
    width: 100vw;
    height: 90vh;
    margin-top: -140px;
    mix-blend-mode: screen;  
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    opacity: 70%;
}

.about-page_introduction-title {
    padding: 47vh 15vw 0 15vw;
}

.about-page_introduction-title h1 {
    color: #FFFFFF;
    font-size: 6.5vw;
    margin-block-start: 0;
    margin-block-end: 0;
}